<% provide(:title, "Contact") %>
<h1>StaticPages#Contact</h1>
<p>This is the link for the Home page
   <a href="https://rails-tutorial-rakeshsriram562.c9.io/static_pages/home"> Home page</a> sample application</p>
<p>This is the link for the Weather page
   <a href="https://rails-tutorial-rakeshsriram562.c9.io/static_pages/Weather"> Weather page</a> sample application</p>
<p>Rakesh Sriram<br>
    M00221368<br>
    rsriram@murraystate.edu<br>
    105 S 12 St<br>
    Apt A2<br>
    Murray Ky 42071</p>