<% provide(:title, "Home") %>
<head>
    <title>Home | Rakesh's Weather app</title>
  </head>


<h1>StaticPages#home</h1>
<p>This is the link for the Contact page
   <a href="https://rails-tutorial-rakeshsriram562.c9.io/static_pages/Contact"> Contact page</a> sample application</p>
<p>This is the link for the Weather page
   <a href="https://rails-tutorial-rakeshsriram562.c9.io/static_pages/Weather"> Weather page</a> sample application</p>
  <img src="http://s8.postimg.org/ayncax9q9/profile.jpg" alt="Mountain View" style="width:228px;height:304px;">

