<% provide(:title, "Weather") %>
<h1>About Rakesh's sample weather Ruby on Rails app</h1>

<p>This is the link for the Home page
   <a href="https://rails-tutorial-rakeshsriram562.c9.io/static_pages/home"> Home page</a> sample application</p>
<p>This is the link for the Contact page
   <a href="https://rails-tutorial-rakeshsriram562.c9.io/static_pages/Contact"> Contact page</a> sample application</p>

<span style="display: block !important; width: 180px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:94114.1.99999&bannertypeclick=wu_bluestripes" title="Murray, Kentucky Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_bluestripes&airportcode=KSFO&ForcedCity=Murray&ForcedState=KY&zip=42071&language=EN" alt="Find more about Weather in San Francisco, CA" width="160" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:94114.1.99999&bannertypeclick=wu_bluestripes" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a></span>